{% extends 'base.html' %}

{% block content %}
<h2>Seleccione una opción</h2>
<p class="lead">Haga click en un botón para administrar las cuentas</p>
<a href="{% url 'registrar_medico' %}" class="btn btn-success" role="button">Crear nueva cuenta de médico</a>

<div class="card mt-3">
    <table class="table mb-0">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Nombre del médico</th>
                <th class="text-center">Last login</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}