{% extends 'base.html' %}

{% block content %}
<h2>Seleccione una opción</h2>
<p class="lead">Haga click en un botón para administrar las cuentas</p>
<a href="{% url 'registrar_medico' %}" class="btn btn-success" role="button">Crear nueva cuenta de médico</a>

<div class="card mt-3">
    <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Nombre del médico</th>
                <th class="text-center">RUT del médico</th>
                <th class="text-center">Último inicio de sesión</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
            <tr>
                <td class="text-center">{{medico.id}}</td>
                <td class="text-center">{{medico.first_name}}</td>
                <td class="text-center">{{medico.username}}</td>
                <td class="text-center">{{medico.last_login}}</td>
                <td class="text-center">
                    <a href="{% url 'info_medico' medico.id %}" class="btn btn-primary">Ver datos</a>
                    <a href="#" data-toggle="modal" data-target="#eliminarPaciente" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            <!--MODAL PARA ELIMINAR MÉDICO-->
            <div class="modal" id="eliminarPaciente" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Borrar médico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Al hacer click en confirmar el perfil de médico se eliminará difinitivamente.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'eliminar_medico'  medico.id %}" class="btn btn-danger">Confirmar</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <tr>
                <td class="text-center">Vacío</td>
                <td class="text-center">Vacío</td>
                <td class="text-center">Vacío</td>
                <td class="text-center">Vacío</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}