{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Página principal</li>
    </ol>
</nav>
<div class="form-group">
    <form class="example mb-3" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <a href="{% url 'student_signup' %}" class="btn btn-primary">Crear nueva cuenta de paciente</a>
        </div>
        <div class="row input-group input-group-lg">
            <input class="form-control col-6 ml-3" type="text" placeholder="Ingrese el RUT del paciente" name="search">
            <input type="submit" name="visualizar_registro" value="Visualizar registro"
                class="btn btn-teacher mx-1"></input>
            <input type="submit" name="crear_nuevo_registro" value="Crear nuevo registro"
                class="btn btn-student"></input>
        </div>
    </form>
    {{mensaje}}
</div>






{% endblock %}