{% extends 'base.html' %}

{% block content %}
{% if mensaje %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p class="mb-0">{{ mensaje }}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Página principal</li>
    </ol>
</nav>
<div class="form-group">
    <form class="example mb-3" method="POST">
        {% csrf_token %}
        <div class="row input-group input-group">
            <input class="form-control col-6 ml-3" type="text" placeholder="Ingrese el RUT del paciente" name="search">

            <input type="submit" name="visualizar_registro" value="Visualizar registro"
                class="btn btn-teacher mx-1"></input>
            <input type="submit" name="crear_nuevo_registro" value="Crear nuevo registro"
                class="btn btn-student"></input>
            <a href="{% url 'student_signup' %}" class="btn btn-primary ml-1">Crear nueva cuenta de paciente</a>
        </div>
    </form>
</div>
<table class="table table-striped mb-0">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Nombre del paciente</th>
            <th class="text-center">Último inicio de sesión</th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in pacientes %}
        <tr>
            <td class="text-center">{{paciente.id}}</td>
            <td class="text-center">{{paciente.username}}</td>
            <td class="text-center">{{paciente.last_login}}</td>
            <td class="text-center">
                <a href="#" class="btn btn-success">Editar</a>
                <a href="#" data-toggle="modal" data-target="#eliminarPaciente" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-center">Vacío</td>
            <td class="text-center">Vacío</td>
            <td class="text-center">Vacío</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<div class="modal" id="eliminarPaciente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}